/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.site-sidenav, .site-sidenav.md-locked-open-add-active, .site-sidenav.md-locked-open {
  width: 256px;
  min-width: 256px;
  max-width: 256px;
}
.nav-header {
  background-color: #106CC8;
  background: linear-gradient(#185694, #106cc8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
  background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: linear-gradient(top, #185694 0%, #106cc8 100%);
  flex-shrink: 0;
  z-index: 2;
}
.site-sidenav {
  background: #106CC8;
}
.site-sidenav md-content {
  background: transparent;
}